html {
  text-align: center;
  font-family: Helvetica;
  color: White;

}

a {
  color: White;
  font-size: 18px;
}

h2 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;

}

.head-img-top {
  background-image: url("../images/the-flatiron-building.png");
  /*background-size: contain;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;

}

.main-text {
  color: Black;

}

.head-img-top h1 {
  font-size: 70px;
  font-weight: bold;

}

.bottom-info {
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
}
