html {
  text-align: center;
  font-family: Helvetica;
}

div.head-img-top {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  color: White;


}

div.head-img-top h1 {
  font-size: 70px;
  font-weight: bold;

}

div.head-img-top a {
  font-size: 18px;

}
